debthack-frontend/src/views/alternatives.jade
div(ng-controller='alternativeCtrl', layout='column', flex, ng-init='checkLoggedIn();altFilter.flag_exists=false;altFilter.ignored=false')
    md-content(layout-padding)
        div(layout='column', layout-align='center center')
            span.md-header Spending Alternatives
        md-card(ng-repeat='alternative in alternatives | filter:altFilter')
            md-card-header(ng-init='alternative.showContent = false; alternative.selectedAltId = 0;')
                md-card-header-text
                    span.md-title {{ alternative.title }}
            md-card-content
                div(layout='column')
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Average Monthly Spend
                        span {{ alternative.monthly_spend | currency }}
            md-card-actions(layout="row", layout-align="space-between center")
                md-button(aria-label="ignore", ng-click='pushIgnoreAlternative(alternative)') Ignore
                md-button(aria-label="toggle", ng-click='toggleContent(alternative.id)', ng-bind='alternative.showContent ? "Less" : "More"')
            md-card-content(ng-show='alternative.showContent', layout='column', layout-align='center center')
                md-card(layout='column', ng-repeat='alt in alternative.alternatives')
                    md-card-header
                        md-card-header-text
                            span.md-title {{ alt.title }}
                    md-card-content
                        div(layout="row" layout-align="space-between center")
                            span.md-subhead Estimated Savings
                            span {{ alt.savings_dollar | currency }}
                        div(layout="row" layout-align="space-between center")
                            span
                            span.md-caption {{ alt.savings_percent | percentage:2 }}
                    md-card-actions(layout="row", layout-align="end center")
                        md-button(ng-click="selectAlternative(alternative.id, alt.id)") Select

debthack-frontend/www/views/alternatives.html

<div ng-controller="alternativeCtrl" layout="column" flex="flex" ng-init="checkLoggedIn();altFilter.flag_exists=false;altFilter.ignored=false">
  <md-content layout-padding="layout-padding">
    <div layout="column" layout-align="center center"><span class="md-header">Spending Alternatives</span></div>
    <md-card ng-repeat="alternative in alternatives | filter:altFilter">
      <md-card-header ng-init="alternative.showContent = false; alternative.selectedAltId = 0;">
        <md-card-header-text><span class="md-title">{{ alternative.title }}</span></md-card-header-text>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Average Monthly Spend</span><span>{{ alternative.monthly_spend | currency }}</span></div>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="space-between center">
        <md-button aria-label="ignore" ng-click="pushIgnoreAlternative(alternative)">Ignore</md-button>
        <md-button aria-label="toggle" ng-click="toggleContent(alternative.id)" ng-bind="alternative.showContent ? &quot;Less&quot; : &quot;More&quot;"></md-button>
      </md-card-actions>
      <md-card-content ng-show="alternative.showContent" layout="column" layout-align="center center">
        <md-card layout="column" ng-repeat="alt in alternative.alternatives">
          <md-card-header>
            <md-card-header-text><span class="md-title">{{ alt.title }}</span></md-card-header-text>
          </md-card-header>
          <md-card-content>
            <div layout="row" layout-align="space-between center"><span class="md-subhead">Estimated Savings</span><span>{{ alt.savings_dollar | currency }}</span></div>
            <div layout="row" layout-align="space-between center"><span></span><span class="md-caption">{{ alt.savings_percent | percentage:2 }}</span></div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="selectAlternative(alternative.id, alt.id)">Select</md-button>
          </md-card-actions>
        </md-card>
      </md-card-content>
    </md-card>
  </md-content>
</div>
