debthack-frontend/www/views/debts.html

<div ng-controller="debtCtrl" layout="column" flex="flex" ng-init="checkLoggedIn()">
  <md-content layout-padding="layout-padding">
    <div layout="column" layout-align="center stretch" ng-show="firstLogin">
      <md-button ng-click="goToBills()" ng-show="firstLogin" class="selectAlternative">Next</md-button>
    </div>
    <div layout="column" layout-align="center center"><span class="md-header">Debts</span></div>
    <md-card>
      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="newDebt.name"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Balance</label>
        <input type="number" ng-model="newDebt.balance"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Annual Interest Rate</label>
        <input type="number" ng-model="newDebt.interestRate"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Minimum Monthly Payment</label>
        <input type="number" ng-model="newDebt.minPayment"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Debt Type</label>
        <md-select ng-model="newDebt.selectedDebtType">
          <md-option ng-value="type.id" ng-repeat="type in debtTypes">{{ type.desc }}</md-option>
        </md-select>
      </md-input-container>
      <md-button ng-click="pushDebt()">Add Debt</md-button>
    </md-card>
    <md-card ng-repeat="debt in debts | orderBy:'name'">
      <md-card-header>
        <md-card-header-text><span ng-bind="debt.name" class="md-title"></span><span ng-bind="debt.type.desc" class="md-caption"></span></md-card-header-text>
        <md-card-avatar><i ng-class="debt.type.icon" class="fa fa-3x"></i></md-card-avatar>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Balance</span><span>{{ debt.balance | currency }}</span></div>
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Interest Rate</span><span>{{ debt.interestRate | percentage:2 }}</span></div>
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Payment</span><span>{{ debt.minPayment | currency }}</span></div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>

debthack-frontend/src/views/debts.jade
div(ng-controller='debtCtrl', layout='column', flex, ng-init='checkLoggedIn()')
    md-content(layout-padding)
        div(layout='column', layout-align='center stretch', ng-show='firstLogin')
            md-button.selectAlternative(ng-click="goToBills()", ng-show='firstLogin') Next
        div(layout='column', layout-align='center center')
            span.md-header Debts
        md-card
            md-input-container.md-block
                label Name
                input(type='text', ng-model='newDebt.name')
            md-input-container.md-block
                label Balance
                input(type='number', ng-model='newDebt.balance')
            md-input-container.md-block
                label Annual Interest Rate
                input(type='number', ng-model='newDebt.interestRate')
            md-input-container.md-block
                label Minimum Monthly Payment
                input(type='number', ng-model='newDebt.minPayment')
            md-input-container.md-block
                label Debt Type
                md-select(ng-model="newDebt.selectedDebtType")
                    md-option(ng-value="type.id", ng-repeat="type in debtTypes") {{ type.desc }}
            md-button(ng-click="pushDebt()") Add Debt
        md-card(ng-repeat="debt in debts | orderBy:'name'")
            md-card-header
                md-card-header-text
                    span.md-title(ng-bind='debt.name')
                    span.md-caption(ng-bind='debt.type.desc')
                md-card-avatar
                    i.fa.fa-3x(ng-class='debt.type.icon')
            md-card-content
                div(layout='column')
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Balance
                        span {{ debt.balance | currency }}
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Interest Rate
                        span {{ debt.interestRate | percentage:2 }}
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Payment
                        span {{ debt.minPayment | currency }}
