debthack-frontend/www/views/structure.html

<div layout="column" flex="flex">
  <md-toolbar layout="row">
    <md-button style="line-height:unset;" ng-show="isLoggedIn &amp;&amp; !firstLogin" aria-label="Pay Off Date" class="md-fab md-fab-top-left left">
      <div layout="column" layout-align="center center"><span class="md-caption">{{ payOffDate.month }}</span><span class="md-caption">{{ payOffDate.year }}</span></div>
    </md-button>
    <div layout="row" layout-align="space-between center" layout-fill="layout-fill" class="md-toolbar-tools"><span style="width:88px">&nbsp;</span><span>
        <h4>#DebtHack</h4></span>
      <md-button ng-click="toggleRight()" aria-label="Toggle Menu" ng-disabled="!isLoggedIn || firstLogin"><i class="fa fa-3x fa-bars"></i></md-button>
    </div>
  </md-toolbar>
  <md-content layout="row" flex="flex">
    <div ng-view="ng-view" layout="row" flex="flex"></div>
    <md-sidenav md-component-id="right" layout="row" style="overflow:hidden;" class="md-sidenav-right md-whiteframe-z2">
      <md-content layout="column" layout-align="start stretch" class="md-padding">
        <md-list>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToHome(); toggleRight();" aria-label="Home">Home</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToIncome(); toggleRight();" aria-label="Manage Income Sources">Manage Income Sources</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToDebts(); toggleRight();" aria-label="Manage Debts">Manage Debts</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToBills(); toggleRight();" aria-label="Manage Bills">Manage Bills</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToAlternatives(); toggleRight();" aria-label="Spending Alternatives">Spending Alternatives</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="goToBudget(); toggleRight();" aria-label="Modify Budget">Modify Budget</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-disabled="ng-disabled" aria-label="Modify Budget">Add Bank</md-button>
            </p>
          </md-list-item>
          <md-list-item>
            <p>
              <md-button style="min-width:unset" ng-click="doLogout(); toggleRight();" aria-label="Logout">Logout</md-button>
            </p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
  </md-content>
</div>

debthack-frontend/src/views/structure.jade
div(layout='column', flex)
    md-toolbar(layout='row')
        md-button.md-fab.md-fab-top-left.left(style='line-height:unset;', ng-show='isLoggedIn && !firstLogin', aria-label='Pay Off Date')
            div(layout='column', layout-align='center center')
                span.md-caption {{ payOffDate.month }}
                span.md-caption {{ payOffDate.year }}
        div.md-toolbar-tools(layout='row', layout-align='space-between center', layout-fill)
            span(style='width:88px') &nbsp;
            span
                h4 #DebtHack
            md-button(ng-click='toggleRight()', aria-label='Toggle Menu', ng-disabled='!isLoggedIn || firstLogin'): i.fa.fa-3x.fa-bars
    md-content(layout='row', flex)
        div(ng-view layout='row', flex)
        md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="right", layout='row', style='overflow:hidden;')
            md-content.md-padding(layout='column', layout-align='start stretch')
                md-list()
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToHome(); toggleRight();', aria-label='Home') Home
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToIncome(); toggleRight();', aria-label='Manage Income Sources') Manage Income Sources
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToDebts(); toggleRight();', aria-label='Manage Debts') Manage Debts
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToBills(); toggleRight();', aria-label='Manage Bills') Manage Bills
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToAlternatives(); toggleRight();', aria-label='Spending Alternatives') Spending Alternatives
                    md-list-item: p: md-button(style='min-width:unset', ng-click='goToBudget(); toggleRight();', aria-label='Modify Budget') Modify Budget
                    md-list-item: p: md-button(style='min-width:unset', ng-disabled, aria-label='Modify Budget') Add Bank
                    md-list-item: p: md-button(style='min-width:unset', ng-click='doLogout(); toggleRight();', aria-label='Logout') Logout
